@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, * after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-aadjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*-----------------*/
@font-face {
  font-family: "MyriadProRegular";
  src: url("../../fonts/MyriadProRegular/MyriadProRegular.eot");
  src: local("☺"), url("../../fonts/MyriadProRegular/MyriadProRegular.woff") format("woff"), url("../../fonts/MyriadProRegular/MyriadProRegular.ttf") format("truetype"), url("../../fonts/MyriadProRegular/MyriadProRegular.svg") format("svg"), url("../../fonts/MyriadProRegular/MyriadProRegular.otf") format("otf");
  font-style: normal;
  font-weight: normal;
}
header {
  width: 100%;
  height: 100%;
  background: url("../../img/header/bg.png") 50% 50%/cover no-repeat;
}

.header {
  max-width: 1280px;
  height: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header__menu {
  width: 100%;
  height: 144px;
  padding: 40px 65px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.header__item {
  margin-right: 55px;
}

.header__item a {
  width: 50px;
  height: 13px;
  color: #ffffff;
  font-family: "Quicksand", sans-serif;
  font-size: 18px;
  font-weight: 700;
  text-align: left;
  -webkit-transition-duration: 300ms;
          transition-duration: 300ms;
}

.header__item a:hover {
  text-shadow: 0 0 5px #fff;
}

.header__cartLogo {
  width: 24px;
  height: 20px;
  -webkit-transition-duration: 300ms;
          transition-duration: 300ms;
}

.header__cartLogo:hover {
  -webkit-filter: drop-shadow(0px 0px 3px white);
          filter: drop-shadow(0px 0px 3px white);
}

.header__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__header {
  max-width: 840px;
  color: #ffffff;
  font-family: "Quicksand", sans-serif;
  font-size: 60px;
  font-weight: 700;
  text-align: center;
  margin: 0 auto;
  padding: 0px 20px;
}

.header__headerText {
  max-width: 550px;
  color: #ffffff;
  font-family: "Quicksand", sans-serif;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  margin: 0 auto;
  padding: 20px 20px 0px 20px;
}

.header__arrow {
  margin: 0 auto;
}

.header__button {
  width: 116px;
  height: 116px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__arrowImage {
  width: 34px;
  height: 22px;
  -webkit-transition-duration: 300ms;
          transition-duration: 300ms;
}

.header__arrowImage:hover {
  -webkit-filter: drop-shadow(0px 0px 3px white);
          filter: drop-shadow(0px 0px 3px white);
}

.site {
  width: 100%;
  height: 100%;
}

.form {
  background-color: #f5f6f7;
  width: 100%;
  min-height: 143px;
}

.form__container {
  height: 100%;
  max-width: 1280px;
  padding: 0 96px 0 96px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
}

.form__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 40px;
}

.form__item-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form__checkbox {
  width: 25px;
  height: 24px;
  -webkit-transition-duration: 300ms;
          transition-duration: 300ms;
}

.form__checkbox:hover {
  -webkit-box-shadow: 1px 1px 3px #777;
          box-shadow: 1px 1px 3px #777;
}

.form__name {
  margin-left: 20px;
  color: #333333;
  font-family: "Quicksand", sans-serif;
  font-size: 18px;
  font-weight: 700;
  text-align: left;
  text-transform: uppercase;
}

.form__button {
  width: 204px;
  height: 52px;
  border-radius: 3px;
  background-color: #aa9b77;
  color: #ffffff;
  font-family: "Quicksand", sans-serif;
  font-size: 14px;
  font-weight: 700;
  text-align: left;
  text-transform: uppercase;
  text-align: center;
  padding: 19px 0 19px 0;
  -webkit-transition-duration: 300ms;
          transition-duration: 300ms;
}

.form__button:hover {
  -webkit-box-shadow: 1px 1px 3px #777;
          box-shadow: 1px 1px 3px #777;
}

.form__button:active {
  font-size: 13px;
}

.shop {
  min-height: 670px;
  width: 100%;
  padding-bottom: 96px;
}

.men__container1, .men__container2 {
  max-width: 1300px;
  padding: 0 96px 0 96px;
  margin: 0 auto;
}

.men__name {
  height: 118px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 48px 10px 0px;
}

.men__text {
  color: #424242;
  font-family: "Quicksand", sans-serif;
  font-size: 20px;
  font-weight: 700;
  text-align: left;
  text-transform: uppercase;
  padding-right: 20px;
}

.w {
  padding-right: 0px;
  padding-left: 20px;
}

.men__line {
  height: 2px;
  width: 100%;
  background-color: #cccccc;
}

.men__products {
  width: 100%;
  min-height: 378px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.men__product {
  margin: 10px 10px 10px 10px;
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
  height: 378px;
  background-color: #f5f6f7;
  padding: 30px 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition-duration: 300ms;
          transition-duration: 300ms;
}

.men__product:hover {
  -webkit-box-shadow: 1px 1px 3px #777;
          box-shadow: 1px 1px 3px #777;
}

.product-frame {
  border: 6px solid #aa9b77;
}

.men__options {
  width: 100%;
  height: 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.men__size {
  color: #424242;
  font-family: "Quicksand", sans-serif;
  font-size: 16px;
  font-weight: 700;
  text-align: left;
  text-transform: uppercase;
  background-color: #f5f6f7;
}

.size, ::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

select {
  background-color: transparent;
  border: none;
  margin: 0;
  color: #424242;
  font-family: "Quicksand", sans-serif;
  font-size: 16px;
  font-weight: 700;
  text-align: left;
  text-transform: uppercase;
}

.size {
  color: #424242;
  font-family: "Quicksand", sans-serif;
  font-size: 16px;
  font-weight: 700;
  text-align: left;
  text-transform: uppercase;
  background-color: #f5f6f7;
}

.men__color {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.men__color div {
  margin-left: 5px;
}

.men__color1 {
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background-color: #165eb9;
}

.men__color2 {
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background-color: #ffe637;
}

.men__color3 {
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background-color: #535253;
}

.men__image {
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.men__info {
  width: 100%;
  height: 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.men__item-name {
  color: #aa9b77;
  font-family: "Quicksand", sans-serif;
  font-size: 18px;
  font-weight: 700;
  text-align: left;
  text-transform: uppercase;
}

.men__price {
  text-align: right;
  color: #424242;
  font-family: "Quicksand", sans-serif;
  font-size: 22px;
  font-weight: 700;
  text-transform: uppercase;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.men__color4 {
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background-color: #d3a7ac;
}

.men__color5 {
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background-color: #ffffff;
}

.about {
  height: 400px;
  background-color: #aa9b77;
}

.about__container {
  max-width: 752px;
  margin: 0 auto;
  padding-top: 78px;
}

.about__frame {
  max-width: 752px;
  height: 250px;
  border: 2px solid #918363;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 20px;
}

.about__header {
  max-width: 125px;
  height: 20px;
  font-family: "Quicksand", sans-serif;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: #837659;
  margin: -10px auto 0px;
  background-color: #aa9b77;
  z-index: 5;
}

.about__text {
  color: #424242;
  font-family: "Quicksand", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about__text p {
  width: 500px;
  padding: 0 20px;
}

.tweet {
  height: 72px;
  background-color: #535253;
}

.tweet__container {
  max-width: 1280px;
  margin: 0 auto;
  padding-left: 20px;
}

.tweet__items {
  margin-left: -20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  height: 72px;
}

.tweet__item {
  padding-left: 20px;
  color: #ffffff;
  font-family: "Quicksand", sans-serif;
  font-size: 16px;
  font-weight: 700;
  text-align: left;
}

.footer {
  width: 100%;
  min-height: 352px;
  background-color: #424242;
}

.footer__container {
  max-width: 1280px;
  padding: 109px 65px 116px 65px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.footer__header {
  color: #ffffff;
  font-family: "Quicksand", sans-serif;
  font-size: 20px;
  font-weight: 700;
  text-align: left;
  text-transform: uppercase;
}

.footer__text {
  max-width: 306px;
  color: #ffffff;
  font-family: "Quicksand", sans-serif;
  font-size: 10px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  text-transform: uppercase;
  padding-top: 22px;
}

.footer__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: right;
}

.footer__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__button {
  color: #ffffff;
  font-family: "Quicksand", sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 28px;
  text-align: left;
  text-transform: uppercase;
  margin-left: 10px;
}

.footer__button:hover {
  text-shadow: 0 0 5px #fff;
}

.footer__button:not(:first-child):before {
  content: "";
  height: 13px;
  width: 2px;
  background-color: #aa9b77;
  display: inline-block;
  margin: 0px 10px -1px 0px;
}

.footer__designBy {
  color: #ffffff;
  font-family: "Quicksand", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 28px;
}

.hidden {
  display: none;
}

.color-frame {
  border-radius: 50%;
  border: 2px solid black;
}

@media (max-width: 1025px) {
  /* big landscape tablets, laptops, and desktops */
}
@media (max-width: 961px) {
  /* tablet, landscape iPad, lo-res laptops ands desktops */
  .men__product {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }

  .footer__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .footer__designBy {
    text-align: center;
  }

  .footer__header {
    text-align: center;
  }

  .footer__menu {
    margin-top: 30px;
  }
}
@media (max-width: 641px) {
  /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
  .form__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .form__item-button {
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .form__button {
    margin: 20px 0;
  }

  .form__item {
    margin-top: 20px;
  }
}
@media (max-width: 481px) {
  /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
  .header__menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .header__item {
    margin: 10px 0px;
  }

  .header__logo {
    margin-bottom: 10px;
  }

  .header__cart {
    margin-top: 10px;
  }

  .form__button {
    width: 100%;
  }

  .form__container {
    padding: 0 18px 0 18px;
  }

  .men__container1, .men__container2 {
    padding: 0 18px 0 18px;
  }

  .footer__button:not(:first-child):before {
    display: none;
  }

  .footer__menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .footer__button {
    margin-left: 0px;
  }

  .footer__text {
    text-align: justify;
  }
}
@media (max-width: 320px) {
  /* smartphones, iPhone, portrait 480x320 phones */
}